@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    height: 100vh;
}

.search{
    background-image: url("./loginbackground.jpg");
    background-size: cover;
}