@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

.topic {
    text-align: center;
    color: white;
    background-color:#DC4C64;
    padding: 10px;
    border-radius: 10px;

}